 header {
     background-color: #011c29;
 }

 .hdr-ctnr {
     display: flex;
     flex-wrap: wrap;
     max-width: 90rem;
     justify-content: space-between;
     padding: 1rem;
     margin: auto;
     height: 6.25rem;
     align-items: center;
 }

 nav ul {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     column-gap: 2rem;
     margin: 0 auto;
 }

 .hdr-ctnr ul li a {
     color: var(--primary-lit);
     font-size: 1rem;
 }